{% extends 'base.html' %} {% block head %} Reset Password | Micro ChatBot{% endblock head %} {% block body %}
<div class="form-container">
    <form method="POST" id="reset-pass-form" class="reset-pass-form">
        <h1>Reset Password</h1>
        <div class="text-field">
            <label for="" id="resetUserLabel" class="reset-pass-user">Enter Username</label>
            <input id="resetUser" type="text" required>
        </div>
        <div class="text-field" style="margin-top: 15px;">
            <label for="" id="resetPassLabel" class="reset-pass">Enter New Password</label>
            <input id="resetPass" type="password" required>
            <button type="button" class="eye reset-pass-eye" id="hideResetPassword">
                <i class="bi bi-eye-slash"></i>
            </button>
            <button type="button" class="eye reset-pass-eye" id="showResetPassword">
                <i class="bi bi-eye"></i>
            </button>
        </div>
        <div class="text-field" style="margin-top: 3px;">
            <label for="" id="confirmResetPassLabel" class="reset-confirm-pass">Confirm Password</label>
            <input id="confirmResetPass" type="password" required>
            <button type="button" class="eye confirm-eye" id="hideConfirmResetPassword">
                <i class="bi bi-eye-slash"></i>
            </button>
            <button type="button" class="eye confirm-eye" id="showConfirmResetPassword">
                <i class="bi bi-eye"></i>
            </button>
        </div>
        <div class="submit">
            <input type="submit" value="Reset Password" name="Reset Password" id="reset-passBtn">
        </div>
    </form>

    <script>
        var resetUserLabel = document.getElementById("resetUserLabel");
        var resetUser = document.getElementById("resetUser");
        var resetPassLabel = document.getElementById("resetPassLabel");
        var resetPass = document.getElementById("resetPass");
        var confirmResetPassLabel = document.getElementById("confirmResetPassLabel");
        var confirmResetPass = document.getElementById("confirmResetPass");

        // Focus event to add active class
        resetUser.addEventListener("focus", () => {
            resetUserLabel.classList.add("active");
        });

        resetPass.addEventListener("focus", () => {
            resetPassLabel.classList.add("active");
        });

        confirmResetPass.addEventListener("focus", () => {
            confirmResetPassLabel.classList.add("active");
        });

        // Blur event to remove active class if input is empty
        resetUser.addEventListener("blur", () => {
            if (resetUser.value === "") {
                resetUserLabel.classList.remove("active");
            }
        });

        resetPass.addEventListener("blur", () => {
            if (resetPass.value === "") {
                resetPassLabel.classList.remove("active");
            }
        });

        confirmResetPass.addEventListener("blur", () => {
            if (confirmResetPass.value === "") {
                confirmResetPassLabel.classList.remove("active");
            }
        });

        const resetPassBtn = document.getElementById("reset-passBtn")

        resetPassBtn.addEventListener("click", async(event) => {
            event.preventDefault()

            const resetUser = document.getElementById("resetUser").value
            const resetPass = document.getElementById("resetPass").value
            const resetConfirmPass = document.getElementById("confirmResetPass").value

            if (resetPass.length < 8) {
                alert("Password should be at least 8 characters long!")
                return
            }
            // Check if passwords match
            if (resetPass !== resetConfirmPass) {
                alert("Passwords do not match!");
                return;
            }

            const userData = {
                resetUsername: resetUser,
                resetPassword: resetPass
            }

            try {
                const response = await fetch('https://micro-chat-bot-by-somy.vercel.app/api/resetpassword', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(userData)
                });

                const data = await response.json();
                if (response.ok) {
                    alert(data.message); // Success message
                    // Redirect to sign-in page after successful signup
                    window.location.href = "https://micro-chat-bot-by-somy.vercel.app"
                } else {
                    alert(data.message); // Error message
                }
            } catch (error) {
                console.error('Error:', error);
                alert('An error occurred while signing up.');
            }
        })
    </script>
</div>
{% endblock body %}
